img {
    max-width: 100%;
    display: block;
  }

.sticker {
  position: absolute;
  top: auto;
  bottom: -1rem;
  left: -1rem;
  right: auto;
}

.sticker.home-01 {
    width: 11rem;
    bottom: -1rem;
    left: -1rem;
  }

  .sticker.home-02 {
    width: 6.5rem;
    right: 1rem;
  }

  .sticker.home-03 {
    width: 10rem;
    bottom: 3rem;
    left: 15rem;
  }

  .sticker.home-04 {
    width: 12rem;
    left: -2rem;
  }

  .sticker.home-05 {
    width: 10rem;
    right: 0;
  }

  .sticker.home-06 {
    width: 12rem;
    bottom: 2rem;
    right: 0;
  }

  .sticker.home-07 {
    top: 1rem;
    left: 2rem;
  }

  .sticker.home-08 {
    width: 13rem;
    bottom: -8rem;
    left: -5rem;
  }

.sticker.home-10 {
  width: 18rem;
  top: auto;
  bottom: -12rem;
  left: auto;
  right: -6rem;
}

@media screen and (max-width: 991px) {
  .sticker {
    bottom: 0%;
    left: 0%;
  }
  .sticker.home-02 {
    top: 1rem;
  }

  .sticker.home-03 {
    bottom: 1rem;
    left: -3rem;
  }

  .sticker.home-06 {
    bottom: 5rem;
    right: -5rem;
  }

  .sticker.home-08 {
    width: 35vw;
    bottom: -4rem;
    left: -9rem;
  }
  .sticker.home-10 {
    width: 15rem;
    bottom: -10rem;
  }
}
